<section>
  <h1>Digite em um dos campos descrito para uma busca de usuário</h1>
  <input matInput *ngIf="validaCampo" placeholder="id" readonly [(ngModel)]="id">
  <input matInput placeholder="Digite Username para pesquisa" [(ngModel)]="username">
  <input matInput *ngIf="validaCampo" placeholder="password" [(ngModel)]="password">
  <input matInput *ngIf="validaCampo" placeholder="is_enabled" [(ngModel)]="is_enabled">
  <input matInput *ngIf="validaCampo" placeholder="register_date" [(ngModel)]="register_date">
  <input matInput placeholder="Digite nome para pesquisa" [(ngModel)]="name">
  <input matInput *ngIf="validaCampo" placeholder="surname" [(ngModel)]="surname">
  <input matInput placeholder="Digite e-mail para pesquisa" [(ngModel)]="email">
  <input matInput *ngIf="validaCampo" placeholder="phone" [(ngModel)]="phone">
  <button mat-raised-button color="primary" (click)="pegaListaUsuario()">Busca Usuários</button>
</section>